/*Navigation Styles*/
.nav-box{
    max-width: 1920px;
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.nav-list{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* About styles*/
.about-box{
    margin: 100px auto; 
    max-width: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    font-size: 20px;
    padding: 20px;
}
.about-box h1{
    font-weight: bold;
    color: #e34234;
}
.icons-box {
    margin: 30px auto;
    display: flex;
    column-gap: 50px;
}

/* Contact styles*/
.contact-box{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}
.contact-box textarea{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 200px;
}
.contact-box input {
    height: 50px;
}
.contact-box input,
.contact-box textarea{
    border: 1px dotted #e34234;
    outline: none;
    border-radius: 0.8rem;
    width: 300px;
}
.contact-box input::placeholder,
.contact-box textarea::placeholder{
    padding: 10px;
}

/* Homepage styles */
.btn-box {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}